2022.05.31
1. 파이캐럿 - 0.4713
2. 보팅(LGBM+XGB+RF) - 0.4957

22.06.03
1. 0.5753
2. 0.5753
3. 0.8202

id : 샘플 아이디
title : 제조사 모델명
odometer : 주행 거리
location : 판매처(나이지리아 도시)
isimported : 현지 사용 여부
engine : 엔진 종류
transmission : 트랜스미션 종류
fuel : 연료 종류
paint : 페인트 색상
year : 제조년도
target : 자동차 가격

In [1]:
import pandas as pd
import os
import matplotlib as mpl
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
print(mpl.__version__)
# seaborn 스타일 사용
plt.style.use('seaborn-notebook')

# matplotlib 그래프 한글폰트 깨질 때 대처(Mac & Window)
import platform
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:    
# Mac 인 경우
    rc('font', family='AppleGothic')
    
# 그래프에서 마이너스 기호가 표시되도록 하는 설정
mpl.rcParams['axes.unicode_minus'] = False

import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

3.4.3

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.drop('id', axis=1, inplace=True)
test.drop('id', axis=1, inplace=True)

In [ ]:
train

In [ ]:
plt.figure(figsize=(10,10))
plt.hist(train['target'], bins=50)
plt.title('Target Histogram')
plt.show()

In [ ]:
log_target = np.log(train['target'])

plt.figure(figsize=(10,10))
plt.hist(log_target, bins=50)
plt.title('Target Histogram with logarithm')
plt.show()

In [ ]:
plt.style.use("ggplot")

plt.figure(figsize=(12,6))
plt.suptitle("Histogram", fontsize=20)

plt.subplot(1,2,1)
plt.hist(train.odometer, bins=50)
plt.title('Odometer Histogram')

plt.subplot(1,2,2)
plt.hist(train.year, bins=50)
plt.title('Year Histogram')
plt.show()

In [ ]:
train['year'].unique()

In [ ]:
train = train[train.year > 1900]

In [ ]:
train

In [ ]:
train.reset_index(drop=True, inplace = True)

In [ ]:
train.describe(include = 'object')

In [ ]:
train['title'].apply(lambda x : x.split(" ")[0])

In [ ]:
train['brand'] = train['title'].apply(lambda x : x.split(" ")[0])
train.head()

In [ ]:
train.paint.value_counts()

In [ ]:
import re 

def clean_text(texts): 
    corpus = [] 
    for i in range(0, len(texts)): 
        review = re.sub(r'[@%\\*=()/~#&\+á?\xc3\xa1\-\|\.\:\;\!\-\,\_\~\$\'\"\n\]\[\>\<]', '',texts[i]) #@%*=()/+ 와 같은 문장부호 제거
        review = re.sub(r'\d+','',review)#숫자 제거
        review = review.lower() #소문자 변환
        review = re.sub(r'\s+', ' ', review) #extra space 제거
        review = re.sub(r'<[^>]+>','',review) #Html tags 제거
        review = re.sub(r'\s+', ' ', review) #spaces 제거
        review = re.sub(r"^\s+", '', review) #space from start 제거
        review = re.sub(r'\s+$', '', review) #space from the end 제거
        review = re.sub(r'_', ' ', review) #space from the end 제거
        #review = re.sub(r'l', '', review)
        corpus.append(review) 
        
    return corpus

In [ ]:
temp = clean_text(train['paint']) #메소드 적용
train['paint'] = temp

In [ ]:
train

In [ ]:
# 오타 수정 및 대표 색상
train['paint'] = train['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)

In [ ]:
train['paint'].value_counts()

In [ ]:
train = pd.get_dummies(data = train, columns = [''])
test = pd.get_dummies(data = test, columns = ['Gender'])

In [ ]:
#라벨인코딩을 하기 위함 dictionary map 생성 함수
def make_label_map(dataframe):
    label_maps = {}
    for col in dataframe.columns:
        if dataframe[col].dtype=='object':
            label_map = {'unknown':0}
            for i, key in enumerate(dataframe[col].unique()):
                label_map[key] = i+1  #새로 등장하는 유니크 값들에 대해 1부터 1씩 증가시켜 키값을 부여해줍니다.
            label_maps[col] = label_map
    print(label_maps)
    return label_maps

# 각 범주형 변수에 인코딩 값을 부여하는 함수
def label_encoder(dataframe, label_map):
    for col in dataframe.columns:
        if dataframe[col].dtype=='object':
            dataframe[col] = dataframe[col].map(label_map[col])
            dataframe[col] = dataframe[col].fillna(label_map[col]['unknown']) #혹시 모를 결측값은 unknown의 값(0)으로 채워줍니다.
    return dataframe

le = make_label_map(train)
train = label_encoder(train, le)
train.head()

In [ ]:
train

In [ ]:
test = pd.read_csv('test.csv')

In [ ]:
test

In [ ]:
test['brand'] = test['title'].apply(lambda x : x.split(" ")[0])
test.head()

In [ ]:
temp = clean_text(test['paint']) #메소드 적용
test['paint'] = temp

In [ ]:
# 오타 수정 및 대표 색상
test['paint'] = test['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)

In [ ]:
test

In [ ]:
test = label_encoder(test, le) #범주형 피쳐 라벨인코딩

In [ ]:
test

# 파이캐럿

In [ ]:
from pycaret.regression import *

In [ ]:
setup_clf = setup(data = train, target = 'target', fold_shuffle=True, use_gpu=True, silent=True)

In [ ]:
top10 = compare_models(sort='MAE', n_select=10, fold = 5)

In [ ]:
tuned_top10 = [tune_model(i, fold = 5) for i in top10]

In [ ]:
blender_top10 = blend_models(estimator_list=tuned_top10)

In [ ]:
final_model = finalize_model(blender_top10)
prediction = predict_model(final_model, data= test)

In [ ]:
prediction

In [ ]:
prediction['Label']

In [ ]:
submission = pd.read_csv('sample_submission.csv')

submission['target'] = np.round(prediction['Label'])

submission

submission.to_csv('submission.csv',index=False)

# 보팅

In [37]:
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import RandomForestClassifier

In [38]:
LGBM = LGBMClassifier()
XGB = XGBClassifier()
RF = RandomForestClassifier()

# VotingClassifier 정의
VC = VotingClassifier(estimators=[('rf',RF),('xgb',XGB),('lgbm',LGBM)],voting = 'soft')

In [ ]:
X = train.drop('target', axis = 1)
y = train['target']

In [ ]:
VC.fit(X,y)

In [ ]:
pred = VC.predict(test)

In [ ]:
pred

In [ ]:
submission = pd.read_csv('sample_submission.csv')

submission['target'] = pred

submission

submission.to_csv('submission.csv',index=False)

# 불필요한 컬럼 제거

id : 샘플 아이디
title : 제조사 모델명
brand : 제조사 0
odometer : 주행 거리 0
location : 판매처(나이지리아 도시)
isimported : 현지 사용 여부 0
engine : 엔진 종류 0
transmission : 트랜스미션 종류 0
fuel : 연료 종류 0
paint : 페인트 색상 0
year : 제조년도 0
target : 자동차 가격

In [85]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.drop('id', axis=1, inplace=True)
test.drop('id', axis=1, inplace=True)

In [86]:
train['brand'] = train['title'].apply(lambda x : x.split(" ")[0])
test['brand'] = test['title'].apply(lambda x : x.split(" ")[0])

In [87]:
train.drop(['title','location'], axis=1, inplace=True)
test.drop(['title','location'], axis=1, inplace=True)

In [88]:
import re 

def clean_text(texts): 
    corpus = [] 
    for i in range(0, len(texts)): 
        review = re.sub(r'[@%\\*=()/~#&\+á?\xc3\xa1\-\|\.\:\;\!\-\,\_\~\$\'\"\n\]\[\>\<]', '',texts[i]) #@%*=()/+ 와 같은 문장부호 제거
        review = re.sub(r'\d+','',review)#숫자 제거
        review = review.lower() #소문자 변환
        review = re.sub(r'\s+', ' ', review) #extra space 제거
        review = re.sub(r'<[^>]+>','',review) #Html tags 제거
        review = re.sub(r'\s+', ' ', review) #spaces 제거
        review = re.sub(r"^\s+", '', review) #space from start 제거
        review = re.sub(r'\s+$', '', review) #space from the end 제거
        review = re.sub(r'_', ' ', review) #space from the end 제거
        #review = re.sub(r'l', '', review)
        corpus.append(review) 
        
    return corpus

In [89]:
temp = clean_text(train['paint']) #메소드 적용
train['paint'] = temp

In [90]:
# 오타 수정 및 대표 색상
train['paint'] = train['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
train['paint'] = train['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)

In [91]:
temp = clean_text(test['paint']) #메소드 적용
test['paint'] = temp

In [92]:
# 오타 수정 및 대표 색상
test['paint'] = test['paint'].apply(lambda x : 'blue' if x.find('blue') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'red' if x.find('red') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'green' if x.find('green') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'white' if x.find('white') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('grey') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gery') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'grey' if x.find('gray') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'ash' if x.find('ash') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'brown' if x.find('brown') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('silver') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'silver' if x.find('sliver') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'black' if x.find('black') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'gold' if x.find('gold') >= 0 else x)
test['paint'] = test['paint'].apply(lambda x : 'wine' if x.find('whine') >= 0 else x)

In [93]:
train

,odometer,isimported,engine,transmission,fuel,paint,year,target,brand
0,18277,Foreign Used,4-cylinder(I4),automatic,petrol,red,2016,13665000,Toyota
1,10,New,4-cylinder(I4),automatic,petrol,black,2019,33015000,Toyota
2,83091,Foreign Used,6-cylinder(V6),automatic,petrol,red,2012,9915000,Land
3,91524,Foreign Used,4-cylinder(I4),automatic,petrol,grey,2007,3815000,Lexus
4,94177,Foreign Used,6-cylinder(V6),automatic,petrol,red,2010,7385000,Toyota
...,...,...,...,...,...,...,...,...,...
1010,46768,Foreign Used,4-cylinder(I4),automatic,petrol,black,2014,5415000,Toyota
1011,31600,Foreign Used,4-cylinder(I4),automatic,petrol,silver,2011,3615000,Toyota
1012,96802,Foreign Used,4-cylinder(I4),automatic,petrol,black,2011,3415000,Toyota
1013,146275,Foreign Used,6-cylinder(V6),automatic,petrol,gold,2013,14315000,Lexus
1014,0,Locally used,6-cylinder(V6),manual,diesel,white,1998,10015000,DAF

In [94]:
train = train[train.year > 1900]

In [95]:
train

,odometer,isimported,engine,transmission,fuel,paint,year,target,brand
0,18277,Foreign Used,4-cylinder(I4),automatic,petrol,red,2016,13665000,Toyota
1,10,New,4-cylinder(I4),automatic,petrol,black,2019,33015000,Toyota
2,83091,Foreign Used,6-cylinder(V6),automatic,petrol,red,2012,9915000,Land
3,91524,Foreign Used,4-cylinder(I4),automatic,petrol,grey,2007,3815000,Lexus
4,94177,Foreign Used,6-cylinder(V6),automatic,petrol,red,2010,7385000,Toyota
...,...,...,...,...,...,...,...,...,...
1010,46768,Foreign Used,4-cylinder(I4),automatic,petrol,black,2014,5415000,Toyota
1011,31600,Foreign Used,4-cylinder(I4),automatic,petrol,silver,2011,3615000,Toyota
1012,96802,Foreign Used,4-cylinder(I4),automatic,petrol,black,2011,3415000,Toyota
1013,146275,Foreign Used,6-cylinder(V6),automatic,petrol,gold,2013,14315000,Lexus
1014,0,Locally used,6-cylinder(V6),manual,diesel,white,1998,10015000,DAF

In [96]:
train.reset_index(drop=True, inplace = True)

In [97]:
train

,odometer,isimported,engine,transmission,fuel,paint,year,target,brand
0,18277,Foreign Used,4-cylinder(I4),automatic,petrol,red,2016,13665000,Toyota
1,10,New,4-cylinder(I4),automatic,petrol,black,2019,33015000,Toyota
2,83091,Foreign Used,6-cylinder(V6),automatic,petrol,red,2012,9915000,Land
3,91524,Foreign Used,4-cylinder(I4),automatic,petrol,grey,2007,3815000,Lexus
4,94177,Foreign Used,6-cylinder(V6),automatic,petrol,red,2010,7385000,Toyota
...,...,...,...,...,...,...,...,...,...
1008,46768,Foreign Used,4-cylinder(I4),automatic,petrol,black,2014,5415000,Toyota
1009,31600,Foreign Used,4-cylinder(I4),automatic,petrol,silver,2011,3615000,Toyota
1010,96802,Foreign Used,4-cylinder(I4),automatic,petrol,black,2011,3415000,Toyota
1011,146275,Foreign Used,6-cylinder(V6),automatic,petrol,gold,2013,14315000,Lexus
1012,0,Locally used,6-cylinder(V6),manual,diesel,white,1998,10015000,DAF

In [98]:
#라벨인코딩을 하기 위함 dictionary map 생성 함수
def make_label_map(dataframe):
    label_maps = {}
    for col in dataframe.columns:
        if dataframe[col].dtype=='object':
            label_map = {'unknown':0}
            for i, key in enumerate(dataframe[col].unique()):
                label_map[key] = i+1  #새로 등장하는 유니크 값들에 대해 1부터 1씩 증가시켜 키값을 부여해줍니다.
            label_maps[col] = label_map
    print(label_maps)
    return label_maps

# 각 범주형 변수에 인코딩 값을 부여하는 함수
def label_encoder(dataframe, label_map):
    for col in dataframe.columns:
        if dataframe[col].dtype=='object':
            dataframe[col] = dataframe[col].map(label_map[col])
            dataframe[col] = dataframe[col].fillna(label_map[col]['unknown']) #혹시 모를 결측값은 unknown의 값(0)으로 채워줍니다.
    return dataframe

le = make_label_map(train)
train = label_encoder(train, le)
train.head()

{'isimported': {'unknown': 0, 'Foreign Used': 1, 'New ': 2, 'Locally used': 3}, 'engine': {'unknown': 0, '4-cylinder(I4)': 1, '6-cylinder(V6)': 2, '8-cylinder(V8)': 3, '6-cylinder(I6)': 4, '4-cylinder(H4)': 5, '5-cylinder(I5)': 6, '3-cylinder(I3)': 7, '2-cylinder(I2)': 8}, 'transmission': {'unknown': 0, 'automatic': 1, 'manual': 2}, 'fuel': {'unknown': 0, 'petrol': 1, 'diesel': 2}, 'paint': {'unknown': 0, 'red': 1, 'black': 2, 'grey': 3, 'white': 4, 'blue': 5, 'silver': 6, 'brown': 7, 'green': 8, 'purple': 9, 'gold': 10, 'milk': 11, 'beige': 12, 'ash': 13, 'orange': 14, 'cream': 15, 'yellow': 16, 'wine': 17, 'maroon': 18}, 'brand': {'unknown': 0, 'Toyota': 1, 'Land': 2, 'Lexus': 3, 'Pontiac': 4, 'Ford': 5, 'Honda': 6, 'Volvo': 7, 'BMW': 8, 'Infiniti': 9, 'Mercedes-Benz': 10, 'Hyundai': 11, 'Jaguar': 12, 'Mitsubishi': 13, 'Nissan': 14, 'Mack': 15, 'Chevrolet': 16, 'Mazda': 17, 'Lincoln': 18, 'Kia': 19, 'Volkswagen': 20, 'Acura': 21, 'DAF': 22, 'Man': 23, 'Isuzu': 24, 'IVM': 25, 'Porsche': 26, 'MINI': 27, 'Dodge': 28, 'GMC': 29, 'Iveco': 30, 'Scania': 31, 'GAC': 32, 'IVECO': 33, 'Peugeot': 34, 'Rolls-Royce': 35, 'MAN-VOLKSWAGEN': 36, 'Jeep': 37, 'ALPINA': 38, 'Bentley': 39, 'JMC': 40, 'Audi': 41}}

,odometer,isimported,engine,transmission,fuel,paint,year,target,brand
0,18277,1,1,1,1,1,2016,13665000,1
1,10,2,1,1,1,2,2019,33015000,1
2,83091,1,2,1,1,1,2012,9915000,2
3,91524,1,1,1,1,3,2007,3815000,3
4,94177,1,2,1,1,1,2010,7385000,1

In [99]:
test = label_encoder(test, le) #범주형 피쳐 라벨인코딩

In [100]:
test

     odometer  isimported  engine  transmission  fuel  paint  year  brand
0        1234           2     1.0             1     1    4.0  2017   10.0
1       29938           1     1.0             1     1    4.0  2013    6.0
2       87501           1     1.0             1     1    2.0  2012   10.0
3      180894           3     2.0             1     1    3.0  2001    1.0
4      104814           1     1.0             1     1    4.0  2000    1.0
..        ...         ...     ...           ...   ...    ...   ...    ...
431     78175           1     2.0             1     1    5.0  2014   10.0
432    129223           1     2.0             1     1    1.0  2011    6.0
433    100943           1     1.0             1     1    2.0  2013   10.0
434     81463           1     1.0             1     1    8.0  2003    3.0
435       646           1     2.0             1     1    6.0  2006    1.0

[436 rows x 8 columns]

# 실험실

## 테스트 셋 분리

In [102]:
train_X = train.drop('target', axis=1)
train_y = train.target

In [103]:
from tensorflow.keras.layers import *
from tensorflow.keras.models import *
from tensorflow.keras.optimizers import *
from tensorflow.keras.callbacks import *

In [ ]:
# 딥러닝 모델 선언
model = Sequential()
model.add(Dense(128, input_dim=len(train_X.columns), activation='elu'))
model.add(Dense(256, activation='elu'))    
model.add(Dense(512, activation='elu'))  
model.add(Dropout(0.5))  
model.add(Dense(256, activation='elu'))
model.add(Dense(128, activation='elu'))
model.add(Dense(1))


model.compile(loss='mean_absolute_error',
              optimizer='adam', 
              metrics=['mae'])

# 모델 저장 폴더 만들기
MODEL_DIR = './model/'
if not os.path.exists(MODEL_DIR):
    os.mkdir(MODEL_DIR)

modelpath = "./model/{epoch:02d}-{val_loss:.4f}.hdf5"

# 모델 업데이트 및 저장
cp = ModelCheckpoint(filepath=modelpath, monitor='val_mae', verbose=0, save_best_only=True, mode = 'min')

# 학습 자동 중단 설정
es = EarlyStopping(monitor='val_mae', patience=800, mode='min')

rlrp = ReduceLROnPlateau(monitor='val_mae', factor=0.2, patience=500, mode='min')

# 모델 학습
model.fit(train_X, train_y, validation_split=0.3, epochs=10000, batch_size=256, verbose=1, callbacks=[es, cp, rlrp])

In [108]:
Y_prediction = model.predict(test).flatten()

In [ ]:
Y_prediction

In [116]:
submission = pd.read_csv('sample_submission.csv')

submission['target'] = np.round(Y_prediction,-3)

submission

submission.to_csv('submission.csv',index=False)

In [ ]:
np.round(Y_prediction,-3)

# sgd

In [144]:
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline

In [145]:
estimators = [('robust' , MinMaxScaler()) , 
              ('SGD', SGDRegressor(penalty='l2',alpha=1e-4, max_iter=5))]

In [146]:
model = Pipeline(estimators)
model.fit(train_X, train_y)
pred = model.predict(test)

In [ ]:
pred

In [150]:
submission = pd.read_csv('sample_submission.csv')

submission['target'] = np.round(pred)

submission

submission.to_csv('submission.csv',index=False)